force-app/main/default/flows/Intern_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_one_Intern</name>
        <label>Add one Intern</label>
        <locationX>666</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>VarCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_number_of_interns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count Interns working in Salon</label>
        <locationX>507</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>VarCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Salons.Number_of_Interns__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_one_Intern</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Intern Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intern Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Fault_Info</name>
        <label>Fault Info</label>
        <locationX>662</locationX>
        <locationY>168</locationY>
        <inputAssignments>
            <field>Fault_Info__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Salons</name>
        <label>Get Related Salon</label>
        <locationX>111</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_record_field</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Info</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Salon__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Interns__c</queriedFields>
        <sortField>Number_of_Interns__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_record_field</name>
        <label>Change record field</label>
        <locationX>294</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Info</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Salon__c</field>
            <value>
                <elementReference>Get_Related_Salons.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_number_of_interns</name>
        <label>Update number of interns</label>
        <locationX>816</locationX>
        <locationY>383</locationY>
        <faultConnector>
            <targetReference>Fault_Info</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Salons.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Interns__c</field>
            <value>
                <elementReference>VarCount</elementReference>
            </value>
        </inputAssignments>
        <object>Salon__c</object>
    </recordUpdates>
    <start>
        <locationX>27</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>Get_Related_Salons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intern__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
